
/*Next 2 rules are to make a background gradient*/
html,
body {
    width: 100%;
    height: 100%;
}

.background-gradient {
    width: 100%;
    height: 100%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(204,61,90,0.8001401244091386) 91%);
}


/*Next rule is to center the calculator on the screen*/
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Next rule is to give appareance for calculator*/
.calculator-casing {

    width: 400px;
    height: 500px;
    background-color: rgb(230,230,250);
    border-radius: 20px;
    border: thick solid black;

}

/*Next rule is to center and give styles to result area*/
.results-area {
    overflow: hidden;
    border-radius: 5px;
    border: medium solid black;
    box-sizing: border-box;
    width: 360px;
    height: 100px;
    resize: none;
    margin-top: 20px;
    margin-left: 20px;
    text-align: right;
}

/*Next 3 rules are to place buttons and give styles and colors*/
.buttons {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    gap: 10px 20px;
    margin-top: 20px;
    margin-left: 20px;
    height: 300px;
    width: 360px;
}

.buttons > button {
    text-align: center;
    padding: 0;
    font-size: 20px;
    border: medium solid black;
    border-radius: 5px;
    background-color: burlywood;
}

.buttons > .operations {
    background-color: brown;
}

/*Next rules are to adjust textareas*/

.operations_display,
.number_display {
    box-sizing: border-box;
    width: 354px;
    height: 47px;
    text-align: right;
    resize: none;
    overflow: hidden;
    border: none;
    padding: none;
}

/*Next rule gives another font-size to number display*/

.number_display,
.operations_display{
    font-size: 25px;
    padding: 3px;
    padding-top: 15px;
    padding-right: 10px;
}
/*Next rule is to give an effect of pressing*/
.buttons > button:hover {
    width: 80px;
}

/*Next rule is to give styles to reset button*/
.reset {

    background-color: coral;
    border-radius: 20px;
    border: medium solid black;
    width: 75px;
    height: 30px;
    margin-top: 10px;
    margin-left: 305px;
}

.reset:hover {
    width: 80px;
}